html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: bender, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: 'bender';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: local('Bender Regular'), url('assets/fonts/bender.woff2') format('woff2');
}

@font-face {
    font-family: 'bender';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: local('Bender Bold'), url('assets/fonts/bender-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'bender';
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    src: local('Bender Italic'), url('assets/fonts/bender-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'bender';
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: local('Bender Bold Italic'), url('assets/fonts/bender-bold-italic.woff2') format('woff2');
}

#app {
    height: 100vh;
    text-align: center;
}
